# Laravel specific
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.*
/phpunit.xml
/phpunit.xml.dist
Homestead.yaml
Homestead.json

# IDEs and Editors
/.idea
/.vscode
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Windows
Thumbs.db

# Composer
composer.lock

# NPM
npm-debug.log
yarn-error.log
